.right{
    height: max-content;
    min-height: unset;
    padding-bottom: unset;
}

@media (max-width: 900px){
    .right{
        height: max-content !important;
        min-height: unset;
        padding-bottom: unset;
    }
}