<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appbar - Amboo</title>
    <!-- Roboto Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- Amboo CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/css/amboo.min.css"
    />
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <header class="header">
      <div class="appbar">
        <div class="leading" onclick="toggleMenu()">
          <a href="#" class="btn btn-t sm white">
            <i class="material-icons">menu</i>
          </a>
        </div>
        <div class="ts-wraper">
          <p class="title">Amboo</p>
          <p class="subtitle">Appbar Subtitle</p>
        </div>
        <div class="trailing">
          <a href="#" class="btn secondary">Login</a>
          <a href="#" class="btn btn-t sm white">
            <i class="material-icons">share</i>
          </a>
          <a href="#" class="btn btn-t sm white">
            <i class="material-icons">search</i>
          </a>
          <a href="#" class="btn btn-t sm white" onclick="toggleModal('modal')">
            <i class="material-icons">more_vert</i>
          </a>
          <a href="#">
            <img src="../user.jpg" alt="Profile picture" class="avatar sm" />
          </a>
        </div>
      </div>
    </header>
    <div class="main">
      <h1 class="h3">Appbar</h1>
      <div class="card">
        <h2 class="h4">Classes</h2>
        <p>class="appbar"</p>
        <p>class="leading"</p>
        <p>class="ts-wraper"</p>
        <p>class="title"</p>
        <p>class="subtitle"</p>
        <p>class="trailing"</p>
      </div>
    </div>
    <!-- Amboo JS -->
    <script src="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/js/amboo.min.js"></script>
  </body>
</html>
