<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appbar - Amboo</title>
    <!-- Roboto Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- Amboo CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/css/amboo.min.css"
    />
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <header class="header">
      <div class="appbar">
        <div class="leading">
          <i class="material-icons">menu</i>
        </div>
        <div class="ts-wraper">
          <p class="h6">Amboo</p>
          <!-- <p class="subtitle">Appbar Subtitle</p> -->
        </div>
        <div class="trailing">
          <a href="#" class="btn btn-t sm white">
            <i class="material-icons">share</i>
          </a>
          <a href="#" class="btn btn-t sm white">
            <i class="material-icons">search</i>
          </a>
          <a href="#" class="btn btn-t sm white" onclick="toggleModal('modal')">
            <i class="material-icons">more_vert</i>
          </a>
        </div>
      </div>
    </header>
    <!-- Amboo JS -->
    <script src="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/js/amboo.min.js"></script>
  </body>
</html>
