<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatars - Amboo</title>
    <!-- Roboto Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- Amboo CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/css/amboo.min.css"
    />
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <h2 class="h2">Avatars</h2>
    <p>avatar class use with img</p>
    <h3 class="h3">Avatar Sizes</h3>
    <div class="card">
      <p>auto based on your image size</p>
      <img class="avatar" src="https://picsum.photos/100" />
      <p>Small</p>
      <img src="https://picsum.photos/40?random=1" class="avatar sm" />
      <p>Medium</p>
      <img src="https://picsum.photos/52" class="avatar md" />
      <p>Large</p>
      <img src="https://picsum.photos/70" class="avatar lg" />
      <p>Profile</p>
      <img src="https://picsum.photos/160" class="avatar profile" />
      <h4 class="h4">classes</h4>
      <p>
        class="avatar"<br />
        class="avatar sm"<br />
        class="avatar md"<br />
        class="avatar lg"<br />
        class="avatar profile"
      </p>
    </div>
    <!-- Amboo JS -->
    <script src="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/js/amboo.min.js"></script>
  </body>
</html>
