<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal - Amboo</title>
    <!-- Roboto Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- Amboo CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/css/amboo.min.css"
    />
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <h2 class="h2">Modal</h2>
    <div class="card">
      <p class="h5">Add this html to creat a modal</p>
      <pre>
    &lt;div class="modal" id="modalId"&gt;
        add your content here whatever you want in modal 
    &lt;/div&gt;</pre
      >

      <p class="h5">Add this onClick to open this modal</p>
      <pre>
    &lt;button onClick="toggleModal('modalId')"&gt;
        Open Model
    &lt;/button&gt;
      </pre>
    </div>
    <!-- Amboo JS -->
    <script src="https://cdn.jsdelivr.net/gh/MominRaza/Amboo@master/js/amboo.min.js"></script>
  </body>
</html>
